@import "../styles/custom-media.css";
@import "../styles/custom-properties.css";

.root {
}

.title {
  composes: responsiveTitle1 from "./typography.module.css";
}

.grid {
  @media (--media-min-medium) {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 2em;
    grid-template-columns: 3fr 1fr;
  }
}

.mainContent {
  background-color: white;
  padding: 30px;

  @nest & h1 {
    font-size: 25px;
    font-weight: 800;
    color: var(--color-accent);
  }

  @nest & h2 {
    font-size: 20px;
    font-weight: 800;
    color: var(--color-accent);
  }

  @nest & a {
    color: var(--color-accent);

    @media (hover: hover) {
      @nest &:hover {
        color: inherit;
      }
    }
  }

  @nest & h2, & h3, & h4, & h5, & h6 {
    font-weight: 600;
  }

  @nest & figure {
    margin: 0;
    padding: 0;

    @nest & img {
      max-width: 100%;
    }
  }
}

.recipeIngredients {
  grid-area: recipeIngredients;
}

.recipeNotes {
  border-style: double;
  border-color: var(--color-accent);
  padding: 0 20px 0 20px;
}

.recipeInstructions {
  grid-area: recipeInstructions;

  @nest & ol {
    list-style: none;
    counter-reset: custom-counter;
    padding-left: 40px;
    list-style-position: outside;
  }

  @nest & ol li {
    counter-increment: custom-counter;
    margin: 1rem 0 2rem 0;
    position: relative;
  }

  @nest & ol li::before {
    content: counter(custom-counter) ". ";
    color: var(--color-accent);
    font-weight: bold;
    font-size: 20px;
    font-family: var(--font-family-serif);
    position: absolute;
    --size: 25px;
    left: calc(-1 * var(--size) - 10px);
    line-height: var(--size);
    width: var(--size);
    height: var(--size);
    /* top: -25 px; */
  }
}

.recipeContainer {
  @media (--media-min-medium) {
    display: grid;
    grid-template-areas: "recipeIngredients recipeInstructions recipeInstructions recipeInstructions recipeInstructions";
    grid-gap: 50px;
    /* background-color: #2196f3; */
    padding: 10px;
  }

  @nest & ul {
    list-style-type: none;
    counter-reset: custom-counter;
    padding-left: 40px;
    list-style-position: outside;
  }

  @nest & ul li {
    margin: 1rem 0 2rem 0;
    position: relative;
  }

  @nest & ul li::before {
    content: "\2022";
    color: var(--color-accent);
    font-weight: bold;
    font-size: 30px;
    font-family: var(--font-family-serif);
    position: absolute;
    --size: 25px;
    left: calc(-1 * var(--size) - 10px);
    line-height: var(--size);
    width: var(--size);
    height: var(--size);
    /* top: -25 px; */
  }
}

.metaContent {
}

.publishedAt {
  composes: small from "./typography.module.css";
  margin: 2rem 0 3rem;
  color: var(--color-gray);
}

.categories {
  border-top: 1px solid var(--color-very-light-gray);
  margin: 2rem 0 3rem;

  @nest & ul {
    list-style: none;
    margin: 0.75rem 0;
    padding: 0;
  }

  @nest & ul li {
    padding: 0.25rem 0;
  }
}

.categoriesHeadline {
  composes: base from "./typography.module.css";
  margin: 0.5rem 0 0;
}
