.root {
  text-align: center;
  line-height: 1px;
  margin-top: 0px;
  margin-bottom: 0px;

  composes: responsiveMetrics from "./typography.module.css";
}

.root h1 {
  margin-bottom: 15px;
}

.root h6 {
  margin-top: 15px;
  margin-bottom: 0px;
}
